.varietyBar {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
}

.varietyBar__varations{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}

.click-change{
    color: var(--color-gray);
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.varietyBar__varations div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.varietyBar__outer{
    width: 80%;
}

.varietyBar__redBar{
    height: 3px;
    width: 120%;
    background-color: var(--color-netflixRed);
    position: relative;
    top: 10px;
    left: 0;
    transition: 0.5s;
}

.after-clicked{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}