.content__movie {
    background-color: var(--color-background-dark);
    color: var(--color-text-normal);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.movie-categories {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.movie-categories_category {
    font-size: 1rem;
    color: var(--color-background-placeholder);
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    transition: 0.5s;
}

.movie-categories_category-active {
    font-size: 1.2rem;
    color: var(--color-text-normal);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    transition: 0.5s;
}

.category-line {
    width: 120%;
    height: 2px;
    background-color: var(--color-background-dark);
    margin-top: 5px;
}

.category-line-active {
    width: 120%;
    height: 2px;
    background-color: var(--color-light);
    margin-top: 5px;
}

.movie-genres {
    width: 80%;
    display: flex;
    overflow-x: scroll;
    justify-content: left;
    margin: 20px 0;
}

.movie-genres::-webkit-scrollbar {
    display: none;
}

.movie-genres_genre {
    text-wrap: nowrap;
    font-size: 0.9rem;
    background-color: var(--color-background-normal);
    color: var(--color-text-normal);
    padding: 8px 20px;
    margin: 0 20px 10px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.movie-genres_genre-active {
    text-wrap: nowrap;
    font-size: 0.9rem;
    background-color: var(--color-light);
    color: var(--color-background-dark);
    padding: 8px 20px;
    margin: 0 20px 10px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.white-line {
    height: 2px;
    background-color: var(--color-line);
    width: 80%;
}

/* SEARCH */

/* MOVIE GALLERY */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 100px 0;
}

.movie-list__movie {
    width: 200px;
    padding: 8px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: var(--color-background-normal);
    cursor: pointer;
    transition: 0.5s ease;
}

.movie-list__movie:hover {
    transform: scale(1.05);
}

.movie-title {
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 2px;
}

.movie-info span {
    font-weight: 500;
    color: var(--color-light);
}

.movie-list__movie img {
    width: 200px;
    border-radius: 5px;
}

/* SWIPER CSS */
.genre-swiper {
    width: auto !important;
    height: 100%;
    padding: 0 !important;
    overflow: hidden !important;
}

.genre-swiper-slide {
    text-align: center;
    margin: 0 !important;
    width: auto !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEARCH */
