.content__movie {
    background-color: var(--color-background-dark);
    color: var(--color-text-normal);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
}
