/* General Styling */
.content__media {
    background-color: var(--color-background-dark);
    color: var(--color-text-normal);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-top: 100px;
}

/* Media Categories */
.media-categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
}

.media-categories_category {
    font-size: 1rem;
    color: var(--color-background-placeholder);
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    transition: color 0.5s, font-size 0.5s;
}

.media-categories_category-active {
    font-size: 1.2rem;
    color: var(--color-text-normal);
    font-weight: 500;
}

.category-line {
    width: 120%;
    height: 2px;
    background-color: var(--color-background-dark);
    margin-top: 5px;
}

.category-line-active {
    background-color: var(--color-light);
}

/* Media Genres */
.media-genres {
    display: flex;
    overflow-x: auto;
    width: 80%;
    margin: 20px 0;
    gap: 10px;
}

.media-genres::-webkit-scrollbar {
    display: none;
}

.media-genres_genre {
    font-size: 0.9rem;
    background-color: var(--color-background-normal);
    color: var(--color-text-normal);
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.media-genres_genre-active {
    background-color: var(--color-light);
    color: var(--color-background-dark);
}

/* Separator Line */
.white-line {
    height: 2px;
    background-color: var(--color-line);
    width: 80%;
    margin: 20px 0;
}

/* Media Gallery */
.media-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 40px 0;
}

.media-list__item {
    width: 200px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--color-background-normal);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.media-list__item:hover {
    transform: scale(1.05);
}

.media-title {
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 2px;
}

.media-info span {
    font-weight: 500;
    color: var(--color-light);
}

.media-list__item img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* Search Bar */
.media-search {
    width: 80%;
    margin: 30px 0;
    position: relative;
}

.search-input {
    width: calc(100% - 80px);
    background-color: var(--color-background-normal);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: var(--color-text-normal);
}

.search-button {
    background-color: var(--color-light);
    color: var(--color-background-dark);
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.8rem;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.5s;
}

.search-button:hover {
    background-color: var(--color-text-normal);
    color: var(--color-light);
}
